In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
historical_data = pd.read_csv("../data/historical_data.csv")   # or "historical_data.csv"
fear_greed_index = pd.read_csv("../data/fear_greed_index.csv")

In [3]:
print("=========TRADES=========")
print("Trades shape: ",historical_data.shape)
print("\n==============================\n")
print("Trades columns: ",historical_data.columns)
print("\n==============================\n")
print("Trades info: ",historical_data.info())
print("\n==============================\n")

=========TRADES=========
Trades shape:  (211224, 16)

==============================

Trades columns:  Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp'],
      dtype='object')

==============================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 16 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
dtypes: bool(1), float64(8), int64(1), object(6)
memory usage: 24.4+ MB
Trades info:  None

==============================

In [4]:
historical_data.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [5]:
#basic statistics of the data
historical_data.describe()

,Execution Price,Size Tokens,Size USD,Start Position,Closed PnL,Order ID,Fee,Trade ID,Timestamp
count,211224.000000,2.112240e+05,2.112240e+05,2.112240e+05,211224.000000,2.112240e+05,211224.000000,2.112240e+05,2.112240e+05
mean,11414.723350,4.623365e+03,5.639451e+03,-2.994625e+04,48.749001,6.965388e+10,1.163967,5.628549e+14,1.737744e+12
std,29447.654868,1.042729e+05,3.657514e+04,6.738074e+05,919.164828,1.835753e+10,6.758854,3.257565e+14,8.689920e+09
min,0.000005,8.740000e-07,0.000000e+00,-1.433463e+07,-117990.104100,1.732711e+08,-1.175712,0.000000e+00,1.680000e+12
25%,4.854700,2.940000e+00,1.937900e+02,-3.762311e+02,0.000000,5.983853e+10,0.016121,2.810000e+14,1.740000e+12
50%,18.280000,3.200000e+01,5.970450e+02,8.472793e+01,0.000000,7.442939e+10,0.089578,5.620000e+14,1.740000e+12
75%,101.580000,1.879025e+02,2.058960e+03,9.337278e+03,5.792797,8.335543e+10,0.393811,8.460000e+14,1.740000e+12
max,109004.000000,1.582244e+07,3.921431e+06,3.050948e+07,135329.090100,9.014923e+10,837.471593,1.130000e+15,1.750000e+12

In [6]:
## check missing values
historical_data.isna().sum()

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
dtype: int64

In [7]:
## check duplicates
historical_data.duplicated().sum()

np.int64(0)

## For sentiment data

In [8]:
print("=========sentiment=========")
print("Sentiment shape: ",fear_greed_index.shape)
print("\n==============================\n")
print("Sentiment columns: ",fear_greed_index.columns)
print("\n==============================\n")
print("Sentiment info: ",fear_greed_index.info())
print("\n==============================\n")

=========sentiment=========
Sentiment shape:  (2644, 4)

==============================

Sentiment columns:  Index(['timestamp', 'value', 'classification', 'date'], dtype='object')

==============================

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2644 entries, 0 to 2643
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp       2644 non-null   int64
 1   value           2644 non-null   int64
 2   classification  2644 non-null   object
 3   date            2644 non-null   object
dtypes: int64(2), object(2)
memory usage: 82.8+ KB
Sentiment info:  None

==============================

In [9]:
## check for basic statistics of the data
fear_greed_index.describe()

          timestamp        value
count  2.644000e+03  2644.000000
mean   1.631899e+09    46.981089
std    6.597967e+07    21.827680
min    1.517463e+09     5.000000
25%    1.574811e+09    28.000000
50%    1.631900e+09    46.000000
75%    1.688989e+09    66.000000
max    1.746164e+09    95.000000

In [10]:
## check for missing values
fear_greed_index.isna().sum()

timestamp         0
value             0
classification    0
date              0
dtype: int64

In [11]:
# check for duplicates
fear_greed_index.duplicated().sum()

np.int64(0)

In [12]:
fear_greed_index.head()

    timestamp  value classification        date
0  1517463000     30           Fear  2018-02-01
1  1517549400     15   Extreme Fear  2018-02-02
2  1517635800     40           Fear  2018-02-03
3  1517722200     24   Extreme Fear  2018-02-04
4  1517808600     11   Extreme Fear  2018-02-05

In [13]:
historical_data.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12

In [14]:
print(fear_greed_index['date'].max())
print(fear_greed_index['date'].min())

# so 7+ years of data

2025-05-02
2018-02-01

In [15]:
print(historical_data['Timestamp IST'].max())
print(historical_data['Timestamp IST'].min())

# so exactly 1 year of data

31-12-2024 23:33
01-01-2024 01:23

In [16]:
# Filter
mask = (fear_greed_index['date'] >= '2024-01-01') & (fear_greed_index['date'] <= '2024-12-31')
filtered = fear_greed_index.loc[mask]

# Count
count = filtered.shape[0]
print(count)

# so there are 365 entries for the year 2024
# I also have checked for the missing values before so no missing values in this range

365

In [17]:
# Preview first few rows of timestamp columns
historical_data[['Timestamp IST', 'Timestamp']].head(10)

      Timestamp IST     Timestamp
0  02-12-2024 22:50  1.730000e+12
1  02-12-2024 22:50  1.730000e+12
2  02-12-2024 22:50  1.730000e+12
3  02-12-2024 22:50  1.730000e+12
4  02-12-2024 22:50  1.730000e+12
5  02-12-2024 22:50  1.730000e+12
6  02-12-2024 22:50  1.730000e+12
7  02-12-2024 22:50  1.730000e+12
8  02-12-2024 22:50  1.730000e+12
9  02-12-2024 22:50  1.730000e+12

In [18]:
historical_data['Timestamp IST'] = pd.to_datetime(historical_data['Timestamp IST'], format='%d-%m-%Y %H:%M')
historical_data['date_only'] = historical_data['Timestamp IST'].dt.date

In [19]:
# extract date part from the timestamp in historical_data
historical_data[['date_only']].head(10)

    date_only
0  2024-12-02
1  2024-12-02
2  2024-12-02
3  2024-12-02
4  2024-12-02
5  2024-12-02
6  2024-12-02
7  2024-12-02
8  2024-12-02
9  2024-12-02

In [20]:
fear_greed_index['classification'].unique()

array(['Fear', 'Extreme Fear', 'Neutral', 'Greed', 'Extreme Greed'],
      dtype=object)

In [21]:
historical_data['Account'].nunique()

32

In [22]:
historical_data['Coin'].nunique()

246

In [23]:
total_closed_pnl=historical_data['Closed PnL'].size

In [24]:
total_profitable_trades = historical_data[historical_data['Closed PnL'] > 0].shape[0]

In [25]:
percentage_profitable_trades = (total_profitable_trades / total_closed_pnl) * 100
percentage_profitable_trades

41.12648183918494

In [26]:
# 1. Count trades per account
trade_counts = historical_data['Account'].value_counts()

# 2. Total trades
total_trades = len(historical_data)

# 3. Top 5 accounts total
top5_trades = trade_counts.head(5).sum()

# 4. Percentage contribution
top5_percentage = (top5_trades / total_trades) * 100

top5_percentage

np.float64(50.52077415445214)

In [27]:
historical_data.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,date_only
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,2024-12-02 22:50:00,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,2024-12-02 22:50:00,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,2024-12-02 22:50:00,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,2024-12-02 22:50:00,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,2024-12-02 22:50:00,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02

In [28]:
# Group by each account
group = historical_data.groupby('Account')

account_stats = pd.DataFrame({
    'total_trades': group.size(),
    'profitable_trades': group.apply(lambda x: (x['Closed PnL'] > 0).sum()),
    'win_rate': group.apply(lambda x: (x['Closed PnL'] > 0).mean() * 100),
    'total_pnl': group['Closed PnL'].sum(),
    'avg_pnl': group['Closed PnL'].mean(),
    'avg_position_size': group['Size USD'].mean(),
    'long_percentage': group.apply(lambda x: (x['Side'] == 'Buy').mean() * 100),
})

account_stats

C:\Users\HP\AppData\Local\Temp\ipykernel_4492\4047508625.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'profitable_trades': group.apply(lambda x: (x['Closed PnL'] > 0).sum()),
C:\Users\HP\AppData\Local\Temp\ipykernel_4492\4047508625.py:7: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'win_rate': group.apply(lambda x: (x['Closed PnL'] > 0).mean() * 100),
C:\Users\HP\AppData\Local\Temp\ipykernel_4492\4047508625.py:11: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  'long_percentage': group.apply(lambda x: (x['Side'] == 'Buy').mean() * 100),

,total_trades,profitable_trades,win_rate,total_pnl,avg_pnl,avg_position_size,long_percentage
Account,,,,,,,
0x083384f897ee0f19899168e3b1bec365f52a9012,3818,1373,35.961236,1.600230e+06,419.127768,16159.576734,0.0
0x23e7a7f8d14b550961925fbfdaa92f5d195ba5bd,7280,3223,44.271978,4.788532e+04,6.577654,1653.226327,0.0
0x271b280974205ca63b716753467d5a371de622ab,3809,1150,30.191651,-7.043619e+04,-18.492043,8893.000898,0.0
0x28736f43f1e871e6aa8b1148d38d4994275d72c4,13311,5838,43.858463,1.324648e+05,9.951530,507.626933,0.0
0x2c229d22b100a7beb69122eed721cee9b24011dd,3239,1684,51.991355,1.686580e+05,52.071011,3138.894782,0.0
0x3998f134d6aaa2b6a5f723806d00fd2bbbbce891,815,371,45.521472,-3.120360e+04,-38.286626,1729.941104,0.0
0x39cef799f8b69da1995852eea189df24eb5cae3c,3589,1176,32.766787,1.445692e+04,4.028119,4790.575486,0.0
0x3f9a0aadc7f04a7c9d75dc1b5a6ddd6e36486cf6,332,158,47.590361,5.349625e+04,161.133275,3445.471265,0.0
0x420ab45e0bd8863569a5efbb9c05d91f40624641,383,90,23.498695,1.995056e+05,520.902331,5189.367128,0.0
0x430f09841d65beb3f27765503d0f850b8bce7713,1237,599,48.423605,4.165419e+05,336.735548,2397.824753,0.0
0x47add9a56df66b524d5e2c1993a43cde53b6ed85,8519,3011,35.344524,1.033437e+05,12.130968,517.528924,0.0
0x4acb90e786d897ecffb614dc822eb231b4ffb9f4,4356,2118,48.622590,6.777471e+05,155.589314,9084.699093,0.0
0x4f93fead39b70a1824f981a54d4e55b278e9f760,7584,2733,36.036392,3.089759e+05,40.740489,17098.171055,0.0
0x513b8629fe877bb581bf244e326a047b249c4ff1,12236,4909,40.119320,8.404226e+05,68.684419,34396.580284,0.0
0x6d6a4b953f202f8df5bed40692e7fd865318264a,975,421,43.179487,1.087312e+05,111.519197,746.725651,0.0
0x72743ae2822edd658c0c50608fd7c5c501b2afbd,1590,550,34.591195,4.293556e+05,270.034947,7216.667245,0.0
0x72c6a4624e1dffa724e6d00d64ceae698af892a0,1430,438,30.629371,4.030115e+05,281.826227,2133.667364,0.0
0x75f7eeb85dc639d5e99c78f95393aa9a5f1170d4,9893,8022,81.087638,3.790954e+05,38.319560,2600.778049,0.0
0x7f4f299f74eec87806a830e3caa9afa5f2b9db8f,1559,705,45.221296,1.490044e+04,9.557693,3748.867511,0.0
0x8170715b3b381dffb7062c0298972d4727a0a63b,4601,1761,38.274288,-1.676211e+05,-36.431455,2204.685531,0.0
0x8381e6d82f1affd39a336e143e081ef7620a3b7f,1911,631,33.019362,6.551366e+04,34.282396,6279.002287,0.0
0x8477e447846c758f5a675856001ea72298fd9cb5,14998,3929,26.196826,4.391701e+04,2.928191,820.428513,0.0
0x92f17e8d81a944691c10e753af1b1baae1a2cd0d,3052,871,28.538663,1.265789e+05,41.474096,3601.689299,0.0
0xa0feb3725a9335f49874d7cd8eaad6be45b27416,15605,5396,34.578661,1.063029e+05,6.812104,1273.195000,0.0
0xa520ded057a32086c40e7dd6ed4eb8efb82c00e0,417,239,57.314149,7.284648e+04,174.691809,2066.689209,0.0
0xae5eacaf9c6b9111fd53034a602c192a04e082ed,563,230,40.852575,6.784562e+04,120.507317,2979.441776,0.0
0xaf40fdc468c30116bd3307bcbf4a451a7ebf1deb,534,172,32.209738,2.175883e+04,40.746876,8330.193371,0.0
0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23,14733,4967,33.713432,2.143383e+06,145.481748,3837.885375,0.0
0xb899e522b5715391ae1d4f137653e7906c5e2115,4838,2122,43.861100,2.248850e+04,4.648305,22504.555829,0.0
0xbaaaf6571ab7d571043ff1e313a9609a10637864,21192,9909,46.758211,9.401638e+05,44.364091,3210.472831,0.0
0xbd5fead7180a9c139fa51a103cb6a2ce86ddb5c3,2641,865,32.752745,2.205191e+05,83.498320,7852.098338,0.0
0xbee1707d6b44d4d52bfe19e41f8a828645437aab,40184,17208,42.823014,8.360806e+05,20.806305,1844.211886,0.0

In [29]:
# How many trades each coin has
coin_counts = historical_data['Coin'].value_counts()
coin_counts.head(20)

Coin
HYPE         68005
@107         29992
BTC          26064
ETH          11158
SOL          10691
FARTCOIN      4650
MELANIA       4428
PURR/USDC     2774
WLD           1983
SUI           1979
TRUMP         1920
XRP           1774
kPEPE         1730
kBONK         1647
FTT           1560
ONDO          1463
@142          1309
PAXG          1265
ZRO           1239
PURR          1198
Name: count, dtype: int64

In [30]:
total_trades = len(historical_data)
top10_trades = coin_counts.head(10).sum()

top10_percentage = (top10_trades / total_trades) * 100
top10_percentage

np.float64(76.56516304965345)

In [31]:
coin_volume = historical_data.groupby('Coin')['Size USD'].sum().sort_values(ascending=False)

top10_volume = coin_volume.head(10).sum()
total_volume = coin_volume.sum()

top10_volume_percentage = (top10_volume / total_volume) * 100
top10_volume_percentage

np.float64(94.12160617094894)

In [32]:
win_rate_per_account = historical_data.groupby('Account')['Closed PnL'].apply(lambda x: (x > 0).mean() * 100)
win_rate_per_account

Account
0x083384f897ee0f19899168e3b1bec365f52a9012    35.961236
0x23e7a7f8d14b550961925fbfdaa92f5d195ba5bd    44.271978
0x271b280974205ca63b716753467d5a371de622ab    30.191651
0x28736f43f1e871e6aa8b1148d38d4994275d72c4    43.858463
0x2c229d22b100a7beb69122eed721cee9b24011dd    51.991355
0x3998f134d6aaa2b6a5f723806d00fd2bbbbce891    45.521472
0x39cef799f8b69da1995852eea189df24eb5cae3c    32.766787
0x3f9a0aadc7f04a7c9d75dc1b5a6ddd6e36486cf6    47.590361
0x420ab45e0bd8863569a5efbb9c05d91f40624641    23.498695
0x430f09841d65beb3f27765503d0f850b8bce7713    48.423605
0x47add9a56df66b524d5e2c1993a43cde53b6ed85    35.344524
0x4acb90e786d897ecffb614dc822eb231b4ffb9f4    48.622590
0x4f93fead39b70a1824f981a54d4e55b278e9f760    36.036392
0x513b8629fe877bb581bf244e326a047b249c4ff1    40.119320
0x6d6a4b953f202f8df5bed40692e7fd865318264a    43.179487
0x72743ae2822edd658c0c50608fd7c5c501b2afbd    34.591195
0x72c6a4624e1dffa724e6d00d64ceae698af892a0    30.629371
0x75f7eeb85dc639d5e99c78f95393aa9a5f1170d4    81.087638
0x7f4f299f74eec87806a830e3caa9afa5f2b9db8f    45.221296
0x8170715b3b381dffb7062c0298972d4727a0a63b    38.274288
0x8381e6d82f1affd39a336e143e081ef7620a3b7f    33.019362
0x8477e447846c758f5a675856001ea72298fd9cb5    26.196826
0x92f17e8d81a944691c10e753af1b1baae1a2cd0d    28.538663
0xa0feb3725a9335f49874d7cd8eaad6be45b27416    34.578661
0xa520ded057a32086c40e7dd6ed4eb8efb82c00e0    57.314149
0xae5eacaf9c6b9111fd53034a602c192a04e082ed    40.852575
0xaf40fdc468c30116bd3307bcbf4a451a7ebf1deb    32.209738
0xb1231a4a2dd02f2276fa3c5e2a2f3436e6bfed23    33.713432
0xb899e522b5715391ae1d4f137653e7906c5e2115    43.861100
0xbaaaf6571ab7d571043ff1e313a9609a10637864    46.758211
0xbd5fead7180a9c139fa51a103cb6a2ce86ddb5c3    32.752745
0xbee1707d6b44d4d52bfe19e41f8a828645437aab    42.823014
Name: Closed PnL, dtype: float64

In [33]:
# win_rate_by_sentiment = merged_df.groupby('classification')['Closed PnL'].apply(lambda x: (x > 0).mean() * 100)

In [34]:
p99_pnl = historical_data['Closed PnL'].quantile(0.99)
p99_pnl

np.float64(1023.3153137199935)

In [35]:
extreme_pnl = historical_data[historical_data['Closed PnL'] > 10 * p99_pnl]

In [36]:
negative_size = historical_data[historical_data['Size USD'] < 0]
negative_size

Empty DataFrame
Columns: [Account, Coin, Execution Price, Size Tokens, Size USD, Side, Timestamp IST, Start Position, Direction, Closed PnL, Transaction Hash, Order ID, Crossed, Fee, Trade ID, Timestamp, date_only]
Index: []

In [37]:
zero_price = historical_data[historical_data['Execution Price'] == 0]
zero_price

Empty DataFrame
Columns: [Account, Coin, Execution Price, Size Tokens, Size USD, Side, Timestamp IST, Start Position, Direction, Closed PnL, Transaction Hash, Order ID, Crossed, Fee, Trade ID, Timestamp, date_only]
Index: []

In [38]:
historical_data['flag_extreme_pnl'] = historical_data['Closed PnL'] > 10 * p99_pnl
historical_data['flag_negative_size'] = historical_data['Size USD'] < 0
historical_data['flag_zero_price'] = historical_data['Execution Price'] == 0
historical_data.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,date_only,flag_extreme_pnl,flag_negative_size,flag_zero_price
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,2024-12-02 22:50:00,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,2024-12-02,False,False,False
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,2024-12-02 22:50:00,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,2024-12-02,False,False,False
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,2024-12-02 22:50:00,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,2024-12-02,False,False,False
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,2024-12-02 22:50:00,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,2024-12-02,False,False,False
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,2024-12-02 22:50:00,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,2024-12-02,False,False,False